hsl(h, s, l)
	s('hsl(%s, %s, %s)', h, s, l)


body
	//background: hsl(240, 24%, 24%)
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
	color: white
	background: hsl(240, 6%, 24%)

a
	color: inherit
	
body, h1, h2, p, ul, li
	margin: 0
h1
	font-size: 4em
p, h2
	font-size: 2.5em

aside.device
	display: none
		
section.about
	display: grid
	grid-template-columns: 100%
	row-gap: 40px
	ul
		display: grid
		grid-template-rows: repeat(4, min-content)
		row-gap: 20px
		padding: 0 40px
		li
			list-style: none
			font-size: 1.5em

.tag-labs::after, 
.tag-soon::after, 
.tag-some::after
	font-size: 24px
	padding: 2px 6px
	margin-left: 6px
	margin-top: 6px
	border-radius: 4px
	white-space: nowrap
	display: inline-block

.tag-labs::after
	content: "🧪 experimental"
	background: rgba(214,224,108,0.5)

.tag-soon::after
	content: "🕒 coming soon"
	background: rgba(108,224,224,0.5)

.tag-some::after
	content: "🎛️ on some songs"
	background: rgba(175,108,224,0.5)